<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-center" scope="col ">Id</th>
                <th class="text-center" scope="col ">Name</th>
                <th class="text-center" scope="col ">Username</th>
                <th class="text-center" scope="col ">Email</th>
                <th class="text-center" scope="col ">Website</th>
                <th class="text-center" scope="col ">Address</th>
                <!-- <th class="text-center" scope="col ">Actions</th> -->
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of usersList">
                <td>
                    <span class="fw-bold">{{item.id}}</span>
                </td>
                <td>
                    <span class="text-success">{{item.name}}</span>
                </td>
                <td>
                    {{item.username}}
                </td>
                <td class="fst-italic fs-6">
                    {{item.email}}
                </td>
                <td>
                    {{item.website}}
                </td>
                <td>
                    <span class="text-danger">Street: </span> <small>{{item.address.street}}</small>
                    |
                    <span class="text-primary">City: </span> <small>{{item.address.city}}</small>
                </td>
                <!-- <td>
                    
                </td> -->
            </tr>
        </tbody>
    </table>
</div>